/* Bootstrap CSS */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');

/*google font orbitron */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
    list-style: none;
}


body {
    width: 100%;
    height: 100%;
    
}

/*encabezado */


.header {
    width: 100%;
    height: 13vw;
    margin-bottom: 5px;
   
}

.encabezado {
    width: 100%;
    height: 14vw;
    background: url(../imagenes/bar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 4vw;
}

.encabezado ul img {
    width: 13vw;
    height: 12vw;
    margin: 3.5vw 2vw;
    
}

.encabezado ul img:hover {
    transform: rotateY(360deg);
    transition: 5s;
    cursor: pointer;
}


.encabezado nav ul {
    display: flex;
    justify-content: space-around;
}

.encabezado nav ul .items {
    padding: 8vw 0;
    font-size: clamp(1rem, 1vw, 2vw);
}



.encabezado nav ul .items a {
    
    color: white;
    font-size: 3.5vw;
    font-family: fantasy; 
}

.encabezado nav ul .items a:hover {
    color: #9a851c;

}


/*main */

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.intro p {
 font-family: "poppins", sans-serif;
 font-size: 1.2rem;
 margin: 8vw auto;
 text-align: center;
}

.formulario {
    margin: 9vw;
    align-items: center;
}

.formulario .btn {
    border-radius: 25px;
    margin-top: 10px;
}

.formulario .btn:hover {
    border: 4px solid #39c5eb;
}

h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.3rem;
    text-align: center;  
    margin: 4vw;
}

.info {
    display: flex;
    justify-content: space-around;
    gap: 10wv;
    
}

.info .datos {
    margin: 7vw 5vw;
    font-family: "poppins", sans-serif;
}

.info .mapa {
    width: 500px;
    height: 300px;
    margin: 3vw 15vw 0 0;
}

.info .datos ul li img{
    width: 2.5vw;
    height: 2.5vw;
    margin: 1vw;
}



/*footer*/

footer {
    background: url(../imagenes/footer.png);
    width: 100%;
    height: 25%;
    color: whitesmoke;
    font-family: "Orbitron", sans-serif;
    font-size: 1.1rem;
}

footer .nombres {
    display: flex;
    justify-content: space-around;
    text-align: center;
   
}

footer .pie{
    text-align: center;
    padding: 20px;
    margin: 0;

  
}

footer .nombres a img {
    width: 3vw;
    height: 3vw;
    margin-bottom: 5px;
}

footer .nombres a .in {
    width: 2.6vw;
    height: 2.6vw;
} 

footer .nombres a .in:hover,
footer .nombres a img:hover {
  width: 3.6vw;
  height: 3.6vw;

}


/*responsivo mobile */

@media (max-width: 500px) {

    /*encabezado */

    .encabezado {
        width: 100%;
        height: 26%;
    }

    .encabezado nav #logo {
        width: 17vw;
        height: 15vw;
        position: absolute;
        top: 1.5vw;
        left: 43%;
        margin-bottom: 1.5vw;
    }
   
    .encabezado nav ul .items {
      margin-top: 19vw;
      padding: 0;
              
    }

    .encabezado nav ul {
        padding: 0;
        position: absolute;
        left: -6.5vw;
        gap: 3.5vw;
    
    }

    .encabezado nav ul .items a {
        gap: 4vw;
        font-size: 1.5rem;
        color: white; 
      
    }
        
    /*main */
    
     .intro p {
        text-align: center;
        font-size: 1rem;
     }

     .formulario {
        margin-left: 2%;
     }

     h3 {
        margin-left: 1vw;
        text-align: center;
     }

     .info{
        display: block;
     }

     .info .datos ul li img {
        width: 6vw;
        height: 6vw;
        margin-bottom: 6px;
     }

     .info .mapa {
        width: 85%;
        height: 35%;
        margin-left: 7.5%;

     }
   

     /*footer */

    footer {
        margin-top: 15px;
    }
     footer h3 {
        padding: 15px;
    }

    .bruno,
    .norma,
    .matias {
        width: 30%;
        gap: 1%;
        margin-top: 0;
    }

    .nombres a img {
        width: 15px;
        height: 15px;
    }

}

@media (min-width: 501px) and (max-width: 800px) {

    .encabezado div ul {
        margin-top: 4vw;
    }

    .encabezado ul img {
        padding: 1.5vw;
    }

    nav a {
        font-size: 1.8rem;
        justify-content: space-around;
    }
}
